/* Style this form to help out conversion rate! */

/* All of the elements are in a row

You'll need to write the CSS selectors and rules with the properties described in the comments below. 

Be sure to refresh an look at the results with each step.  */

/* -------------------------------------- */

/* Style the form, it should display its children with flex, direction column */




/* Style the labels, they should display their children with flex, in a column. Add a margin of 1em */




/* Style the inputs, they should have 0.5em padding and a border 1px solid. Add margin 0.5em on the top and bottom and 0 left and right. */




/* Style the button Width 100px, padding 0.5em. Border none. Background color of tomato, font size 1em, color of white, margin 1em, and align self of flex-end. */




